body {
  margin: 0;
  font-family: Arial, sans-serif;
  background: linear-gradient(120deg, #0f172a, #1e293b);
  color: white;
  
}
html, body {
  margin: 0;
  padding: 0;
  overflow-x: hidden; /* prevent horizontal scroll globally */
}


.layout {
  display: flex;
}

.sidebar {
  width: 220px;
  background: linear-gradient(180deg, #7c3aed, #06b6d4);
  height: 100vh;
  padding: 20px;
}

.sidebar a {
  display: block;
  color: white;
  margin-bottom: 15px;
  text-decoration: none;
  font-weight: bold;
}

.content {
  flex: 1;
  padding: 20px;
}

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.card {
  background: linear-gradient(135deg, #1e293b, #334155);
  padding: 15px;
  border-radius: 12px;
  margin-bottom: 15px;
  box-shadow: 0 10px 20px rgba(0,0,0,0.3);
}

input, textarea {
  width: 100%;
  padding: 10px;
  margin-bottom: 10px;
  border-radius: 8px;
  border: none;
}

button {
  background: linear-gradient(90deg, #f97316, #ef4444);
  border: none;
  padding: 10px 20px;
  color: white;
  border-radius: 10px;
  cursor: pointer;
}
